#principal {
  background-image: url(../img/Fondo.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}
.img-logo{
  width: 30%;
}
.btn{
  margin-top: 20px;
  margin-right: 10px;
}
.img-redes{
  width: 50%;
  margin-bottom: 10px;
}
.img-galeria{
  border: 3px black;
  border-style: double;
}
.img-post{
  width: 40%;
  float: left;
  margin-right: 2%;
}
.img-autor{
  width: 50%;
}
.post{
  background-color: #fff9c4;
  margin-left: 5%;
  margin-right: 2.5%;
}
.perfil{
  background-color: #fff9c4;
  margin-left: 2.5%;
  margin-right: 10%;
}
.texto-post{
  text-align: justify;
}
.comentario{
  background-color: white;
  margin-top: 2%;
  padding-top: 1%;
}
